* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12;
    padding: 0;
    margin: 0;
}

#waybar {
    color: #EEEEEE;
    background-color: #000000;
	margin: 5px 5px 0px 5px;
}

#workspaces button {
    color: #EEEEEE;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: #AAAAAA;
}

#memory,
#custom-platform-profile {
    padding-left: 1em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray,
#custon-power {
    padding-right: 1em 
}
