load_plugins {
	"~/.config/zellij/plugins/room.wasm"
	"~/.config/zellij/plugins/zellij_forgot.wasm"
}


keybinds {
	normal clear-defaults=true {
    	// tmux 
    	bind "Ctrl f" { SwitchToMode "Tmux"; }
    	unbind "Ctrl b"
    }
    tmux clear-defaults=true {
        // Modes
        bind "Ctrl f" { Write 2; SwitchToMode "Normal"; }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "g" { SwitchToMode "Locked"; }
		bind "p" { SwitchToMode "Pane"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "n" { SwitchToMode "Resize"; }
		bind "h" { SwitchToMode "Move"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "o" { SwitchToMode "Session"; }
		bind "q" { Quit; }

        bind "[" { GoToPreviousTab; }
        bind "]" { GoToNextTab; }
	}

	shared_except "locked" "normal" {
    	bind "Ctrl y" {
        	LaunchOrFocusPlugin "file:~/.config/zellij/plugins/room.wasm" {
            	floating true
            	ignore_case true
            	quick_jump true
        	}
   		}

		bind "Ctrl ?" {
        	LaunchOrFocusPlugin "file:~/.config/zellij/plugins/zellij_forgot.wasm" {
            	floating true

				"Ctrl + f + p"	"Pane Mode"
				"Ctrl + f + t"	"Tab Mode"
				"Ctrl + f + n"	"Resize Mode"
				"Ctrl + f + h"	"Move Mode"
				"Ctrl + f + s"	"Scroll Mode"
				"Ctrl + f + o"	"Session Mode"
				"Ctrl + f + q"	"Quit Zellij"

				"Ctrl + f + Ctrl + y"	"room.wasm"
				"Ctrl + f + Ctrl + ?"	"zellij_forgot.wasm"
        	}
   		}
	}
}
  

theme "one-half-dark"
